@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Century Gothic Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Century Gothic Regular'), url('GOTHIC.woff') format('woff');
}

body {
	margin: 0px auto;
	padding: 0;
	font-family: 'Century Gothic Regular';
}
.nightbutton {
	background: none;
	border: none;
	cursor: pointer;
}
.dark-mode {
  background-color: #3F3E3E;
  color: #FFE6C7;
}
.Header {
	background-color: #3985C4;
	height: 42px;
	margin: 0;
    width: 100%;
}
.Header a {
	text-decoration: none;
	color: white;
}
.headtext {
	margin: 0px;
	padding-left: 20px;
	height: inherit;
	position: relative;
	top: 25%;
	color: aliceblue;
	font-family: 'Century Gothic Regular';
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
	border: 1px solid Black;
	padding: 5px;
	font-size: 30px;
	text-align: center;
	background: none;
	color: inherit;
}
input[type=text] {
	-moz-appearance: textfield;
	border: 1px solid Black;
	padding: 5px;
	font-size: 30px;
	text-align: center;
	background: none;
	color: inherit;
}
.centered {
	font-family: Consolas;
	margin-top: 50px;
}

.body {
	margin: 0 auto;
	margin-top: 100px;
	padding: 1em;
	max-width: 900px;
	font-family: 'Century Gothic Regular';
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.converter {
	margin-bottom: 50px;
}
footer {
	position: fixed;
	bottom: 0;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}